<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); -%>
</head>

<body>
    <header>
	<a href="/home"><img src="images/logowhite.png" alt=""></a>
    <a id="filter" href="/filter"><img src="images/icon_filter2.png" alt=""></a>    
    </header>

    <%- include('includes/nav'); -%>

    <main>
        <h1>Find your match</h1>
        <section id="match">
            <div id="profilenav">
                <a id="hprof" href="#" onclick="HumanProfile();"><img src="images/icon_human.png" alt=""></a>
                <a id="aprof" href="#" onclick="AnimalProfile();"><img src="images/icon_animal.png" alt=""></a>
            </div>
            <div id="humanprofile">
                <img id="previewpic" src="images/previewpic3.jpg" alt="">

                <h2 id="h2check"><%= matches.name %></h2>
                <h3><%= matches.age %> years old</h3>
                <p id="selected"><%= matches.country %></p>
                <p><%= matches.bio %></p>
                <ul id="interestlist">
                    <% matches.interests.forEach(function(item){ %>
                        <li><%= item %></li>
                        <% }) %>
                </ul>
            </div>
            <div id="animalprofile">
                <img id="previewpic_a" src="images/previewpic3.jpg" alt="">

                <h2><%= matches.name_a %></h2>
                <h3><%= matches.age_a %> years old</h3>
                <p><%= matches.type_a %></p>  
                <p><%= matches.breed_a %></p>  
                <p><%= matches.bio_a %></p>        
            </div>
            <form action="/discover" method="post">
                <input type="text" id="matchid" name="matchid" value="<%= matches._id %>">
                <button type="submit" id="dislikeknop" formaction="/dislike">Dislike</button>
                <button type="submit" id="likeknop" formaction="/like">Like</button>
            </form>
        </section>
    </main>

    <script src="js/discoverscript.js"></script>
</body>

</html>