<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); -%>
</head>

<body>
    <header>
        <a class="back" href="/likes"><img src="/images/icon_arrowrightwhite.png" alt=""></a> 
        <a href="/home"><img src="/images/logowhite.png" alt=""></a>   
    </header>

    <%- include('includes/nav'); -%>

    <main class="profile">
        <section class="profile-nav">
            <a href="#" class="humanbutton"><img src="/images/icon_human.png" alt=""></a>
            <a href="#" class="animalbutton"><img src="/images/icon_animal.png" alt=""></a>
        </section>
        <section class="profile-human">
            <img src="/images/previewpic3.jpg" alt="">

            <h2><%= matches.name %></h2>
            <h3><%= matches.age %> years old</h3>
            <p><%= matches.country %></p>
            <p><%= matches.bio %></p>
            <ul>
                <% matches.interests.forEach(function(item){ %>
                    <li><%= item %></li>
                    <% }) %>
            </ul>
        </section>
        <section class="profile-animal">
            <img src="/images/previewpic3.jpg" alt="">

            <h2><%= matches.name_a %></h2>
            <h3><%= matches.age_a %> years old</h3>
            <p><%= matches.type_a %></p>  
            <p><%= matches.breed_a %></p>  
            <p><%= matches.bio_a %></p>        
        </section>
    </main>

    <script src="/js/likedprofilescript.js"></script>
</body>

</html>