<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); -%>
</head>

<body>
    <%- include('includes/header'); -%>

    <%- include('includes/nav'); -%>

    <main>
        <div id="profilenav">
            <a id="hprof" href="#" onclick="HumanProfile();"><img src="images/icon_human.png" alt=""></a>
            <a id="aprof" href="#" onclick="AnimalProfile();"><img src="images/icon_animal.png" alt=""></a>
        </div>
        <div id="humanprofile">
           
            <img id="previewpic" src="/images/profielfotos/<%=profiles.url %>" alt="profielimg">

            <h2 id="h2check"><%= profiles.name %></h2>
            <h3><%= profiles.age %> years old</h3>
            <p id="selected"><%= profiles.country %></p>
            <p><%= profiles.bio %></p>
            <ul id="interestlist">
                <% profiles.interests.forEach(function(item){ %>
                    <li><%= item %></li>
                    <% }) %>
            </ul>
        </div>
        <div id="animalprofile">
            <img id="previewpic_a" src="/images/profielfotos/<%=profiles.url_a %>" alt="profielimg">

            <h2><%= profiles.name_a %></h2>
            <h3><%= profiles.age_a %> years old</h3>
            <p><%= profiles.type_a %></p>  
            <p><%= profiles.breed_a %></p>  
            <p><%= profiles.bio_a %></p>        
        </div>

        <button type="button" onclick="location.href='/edit'">Edit Profile</button>
    </main>

    <script src="js/profilescript.js"></script>
</body>

</html>